@font-face {
    font-family: SFGothican;
    src: url(../fonts/TrueType/SFGothican.ttf);
}
@font-face {
    font-family: ogrejuice;
    src: url(../fonts/ogrejuice.ttf);
}

header {
  height: 80px;
  text-align: center;
  vertical-align: bottom;
  font-family: ogrejuice, monospace;
  font-size: 7vh;
}

#login {
  font-family: SFGothican;
  font-size: 20px;
}

body, #login{
  font-family: SFGothican;
}

#subtotal, #pizzadescription {
  font-size: 20px;
}

#warning {
  font-weight: bold;
}

#totalprice {
  font-size: 30px;
  font-style: oblique;
  font-weight: bolder;
  color: red;
  text-align: center;
}

.jumbotron {
  text-align: center;
  display: inline-block;
  opacity: 0.5;
  align-items: center;
}

legend {
  font-size: 24px;
}

#address {
  text-align:  center;
}

#orderscreen, #confirmation, #address, .pizza-size, #toppings, #crust, #pepperoni, #anchovy, #artichokes, #mushrooms, #cheese {
  display: none;
}

#size {
  height: 65vh;
  font-size: 16px;
}
#toppings {
  height: 35vh;
  font-size: 18px;
}


.pizza-size, #sizes {
  height: 250px;
  margin-top: 10px;
}

li {
  list-style-type: none;
}

#yourpizza {
  position: absolute;
  z-index: auto;
}

#crust {
  position: absolute;
  z-index: 1;
}

#pepperoni {
  position: absolute;
  z-index: 2;
}

#anchovy {
  position: absolute;
  z-index: 3;
}

#artichokes {
  position: absolute;
  z-index: 4;
}

#mushrooms {
  position: absolute;
  z-index: 5;
}

#cheese {
  position: absolute;
  top: -29px;
  z-index: 6;
}

#deliveryaddress, #subtotal {
  height: 20vh;
}

/*#red {
  color: red;
  font-style: oblique;
  font-weight: bolder;
  font-size: 22px;
}*/

li {
  list-style-type: none;
}

#pizzadescription {
  height: 60vh;
}
