@font-face {
    font-family: SFGothican;
    src: url(../fonts/TrueType/SFGothican.ttf);
}
@font-face {
    font-family: ogrejuice;
    src: url(../fonts/ogrejuice.ttf);
}


header {
  height: 80px;
  text-align: center;
  vertical-align: bottom;
  font-family: ogrejuice, monospace;
  font-size: 7vh;
}

/*#CompanyLogo {

}*/

#login {
  font-family: SFGothican;
  font-size: 20px;
}

body, #login{
  font-family: SFGothican;
}

.jumbotron {
  text-align: center;
  display: inline-block;
  opacity: 0.5;
  align-items: center;
}

legend {
  font-size: 24px;
}

#address {
  text-align:  center;
}

#orderscreen, #confirmation, #address, .pizza-size {
  display: none;
}

#size, #toppings {
  height: 50vh;
}

input[type="radio"]{
  margin: 5px 10px 0 10px;
}

.pizza-size, #sizes {
  height: 250px;
}

#subtotaladdress, #subtotal {
  height: 20vh;
}

#pizzadescription {
  height: 60vh;
}
